body{
    margin:0;
    background-color: #f6f6f6;
}
nav{
    background-color: gray;
    height: 50px;
    margin: 0;
    padding: 25px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}
.container{
    display: flex;
}
.left{
    display: flex;
    background-color: lightgray;
    border: 1px  solid black;
    height: 100vh;
    width: 29%;
}
.right{
    display: flex;
    background-color: lightgrey;
    width: 71%;
}
.navigation{

}